* {
  background-color: red;
  color: white;
}

h1 {
  font-size: 60px;
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-size: 48px;
  font-family: 'TAKOYAKI';
}

p {
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
}


.allTabs {
  border: 0.5px solid #ccc;
  background-color: #232b2b;
  overflow: hidden;
}

.tab {
  color: #ffe4cd;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab:hover {
  background-color: #ffe4cd;
  color:#232b2b
}

.active {
  background-color: #ccc;
}

.tabContent {
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.headerParent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bodyParent {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin-left: 20%;
  justify-content: space-between;

}

.bodyItem {
  margin-left: auto;
  margin-right: auto;
}


