* {
  background-color: red;
  color: white;
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
  font-family: 'TAKOYAKI';
  /* border: 2px dotted cornflowerblue; */
}

p {
  font-size: 24px;
}

button {
  font-size: 36px;
}

.menuItem {
  /* border: 2px dotted firebrick; */
  width: fit-content;
  margin-top: 1px;
  flex: wrap;
}

.menuItemName {
  font-size: 24px;
  margin-bottom: 0;
  /* border: 1px solid blueviolet; */
  margin-top: 1px;
  width: fit-content;
  max-height: 850px;
}

.menuItemDescription {
  font-size: 18px;
  font-style: italic;
  margin-top: 1px;
  /* border: 1px solid cyan; */
  width: fit-content;
}

.sectionItem {
  width: fit-content;
  /* border: 2px groove yellowgreen; */
  display: flex;
  flex-direction: column;
}

.entreeItems {
  width: 1000px;
  /* border: 5px groove springgreen; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-flow: column;
}


.allTabs {
  border: 0.5px solid #ccc;
  background-color: #232b2b;
  overflow: hidden;
}

.tab {
  color: #ffe4cd;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 20px;
}

.tab:hover {
  background-color: #ffe4cd;
  color:#232b2b
}

.active {
  background-color: #ffe4cd;
  color:#232b2b;
}

.runAnimation {
  position: relative;
  animation: fadeEffect 0.5s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
    bottom: -500px;
  }
  to {
    opacity: 1;
    bottom: 0;
  }
}

.headerParent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 3px solid deeppink; */
}

.bodyParent {
  display: flex;
  flex-wrap: wrap;
  width: 1500px;
  margin-left: 12%;
  justify-content: space-between;
  /* border: 3px dotted chartreuse; */
  flex-basis: 50%;

}

.bodyItem {
  margin-left: auto;
  margin-right: auto;
  /* border: 3px solid darkorchid; */
  /* flex: 2 1; */
}

.entreeGrow {
  /* width: 1200px; */
  /* flex: 3; */
  /* border: 3px solid orangered; */
  margin-right: 0px;
  flex-basis: 60%;
  flex-wrap: wrap;
  flex-direction: row;
  max-height: 850px;
  overflow: hidden;
}

.sectionParent {
  max-height: 1250px;
}

.mainHeading {
  margin-bottom: 1.5px;
  width: fit-content;
  /* border: 2px solid coral; */
}

.subHeading {
  margin-top: 0px;
  font-size: 16px;
  width: fit-content;
  /* border: 2px solid lawngreen; */
}

.imageCarousel {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.images {
  display: none;
}

.previous, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px ;
}

.previous:hover, .next:hover {
  background-color: rgba(128,0,0,0.8);
}

.imagePosition {
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background-color: rgba(240,128,128, 0.5);
}

.fade {
  animation-name: fade;
  animation-duration: 0.8s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


